<div class="results">
	<div class="bar">
		<input type="text" ng-model="MLC.searchString" placeholder="Search (By Name OR Genre)" ng-change="MLC.searchitems()" auto-complete="MLC.autoCompleteOptions"/>
	</div>
	<ul>
		<li ng-repeat="i in MLC.movieListViewModel.displayListSet">
			<a href={{i.movie_imdb_link}} target="_blank"><p class="heading">{{i.movie_title}}<span ng-if="i.title_year !== ''">({{i.title_year}})</span></p></a>
			<div class="movie-left-col">
				<p>
					<img src="/component/movie-list/assets/images/icon.svg" height="20" width="20"/>
					<span>Director: </span><span>{{i.director_name}}</span>
				</p>
				<p>
					<img src="/component/movie-list/assets/images/arnold-schwarzenegger.svg" height="20" width="20"/>
					<span>Actors: </span><span>{{i.actor_1_name}}</span>, <span>{{i.actor_2_name}}</span>
				</p>
				<p>
					<img src="/component/movie-list/assets/images/translator.svg" height="20" width="20"/>
					<span>Language: </span>
					<span>{{i.language}}</span>
				</p>
			</div>
			<div class="movie-right-col">
				<p><img src="/component/movie-list/assets/images/worldwide.svg" height="20" width="20"/><span>Country: </span><span>{{i.country}}</span></p>
				<p><img src="/component/movie-list/assets/images/cost.svg" height="20" width="20"/><span>Budget: USD</span><span>{{i.budget}}</span></p>
				<p><img src="/component/movie-list/assets/images/dj.svg" height="20" width="20"/><span>Genres: </span><span>{{i.genres}}</span></p>
			</div>
		</li>
	</ul>
	<div class="page-nav-bar">
		<button ng-hide="MLC.page === 1" ng-click="MLC.showPreviousMovieSet()" class="direction-btn">Previous</button>
		<span class="page-index">{{MLC.page}}</span>
		<button ng-hide="MLC.page * 10 >= MLC.movieListViewModel.displayList.length" ng-click="MLC.showNextMovieSet()" class="direction-btn">Next</button>
	</div>
</div>
<div class="sort-wrapper">
	<p class="sort-heading">Sort By</p>
	<p class="sort-input"><input type="radio" ng-model="MLC.budget" value="lowToHigh" ng-click="MLC.sortByBudget()"> Budget - Low to High</p>
	<p class="sort-input"><input type="radio" ng-model="MLC.budget" value="highToLow" ng-click="MLC.sortByBudget()"> Budget - High to Low</p>
	<br><br>
	<p class="sort-input"><input type="radio" ng-model="MLC.year" value="oldTONew" ng-click="MLC.sortByYear()"> Old to New</p>
	<p class="sort-input"><input type="radio" ng-model="MLC.year" value="newToOld" ng-click="MLC.sortByYear()"> New to Old</p>
	<button ng-click="MLC.resetDisplayList()" class="reset-btn">Reset List</button>
</div>
